apiVersion: v1
kind: Secret
metadata:
  name: ckan-secret
type: Opaque 
data:
  POSTGRES_USER:  Y2thbg==
  POSTGRES_PASSWORD: MDBlYjBlYTQzMmYzODg3N2JjZTc2OGI4Zjk1ODVhZDI=
  CKAN_SQLALCHEMY_URL: cG9zdGdyZXM6Ly9ja2FuOjAwZWIwZWE0MzJmMzg4NzdiY2U3NjhiOGY5NTg1YWQyQHBvc3RncmVzOjU0MzIvY2thbl9kZWZhdWx0